html
  font: $font-weight-base $font-size-base/$line-height-base $font-family-base
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  background-color: $bg-body
  color: $color-body

#app
  border: 1px solid #ccc
  width: 300px
  margin: 30px
  border-radius: 5px
  padding: 10px 30px 10px
  background-color: #e0e0e0
