/* Fonts */
$font-family-base = "Open Sans", Tahoma, Helvetica, Arial, sans-serif
$font-size-base   = 16px
$font-weight-base = 400
$line-height-base = 1.4

/* Colors */
$color-body = #333
$bg-body    = #f6f6f6
